img{max-width:100%;max-height: auto;}
#img-div{
    padding: 50px;
    position: centre;
}
body{
    background-color:#c2c2c2;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}